body {
	background:url("../img/thingyan.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	background-size: cover;
}

.container {
	position: relative;
}

#box {
	background-position: initial initial; 
	background-repeat: initial initial;
	margin: 0 auto;
	background-color: rgba(0, 0, 0, 0.592157);
 	-moz-border-radius:5px;	
	-webkit-border-radius: 5px;
	border-radius: 5px; /* future proofing */
	-khtml-border-radius: 5px; /* for old Konqueror browsers */
	margin-top: 5%;
	width: 430px;
	padding: 1%;
	text-align: center;
}

#box h3 {
	color: #fff;
	font-family: 'Roboto', sans-serif;
}

#box p {
	font-family:Zawgyi-One;
	color: #fff;
	opacity: 1;
	font-weight: 100;
	line-height: 200%;
}

#footer{
	padding: 5px 0;
	background: #0d0a06;
	color: #fff;
	bottom:0px;
	position: absolute;
	bottom: 0px;
	width: 100%;
	z-index: 1000;
	background-color: rgba(0, 0, 0, 0.592157);
}

#social a {
	padding: 5px 0;
	float: right;
  	margin-left: 10px;
}

a {
	text-decoration: none;
	color: white;
}

a:hover { 
	color:white;
	text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
		font-family: 'Open Sans', sans-serif;
}